@import '../../../styles/helpers';

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;

  .avatarContainer {
    position: relative;
    width: 45px;
    height: 45px;

    .imageContainer {
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 50%;

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .dot {
      position: absolute;
      width: 18px;
      height: 18px;
      background-color: $p1;
      border-radius: 50%;
      right: -7px;
      bottom: 10%;
      border: 3px solid $n8;
    }
  }
}
