@import '../../styles/helpers';

.home {
  display: flex;
  gap: 24px;

  .left {
    // flex-basis: calc(100% - 500px);
    flex: 1;
    overflow-x: hidden;
  }

  .right {
    flex-shrink: 0;
    width: 500px;
  }
}
