@import 'styles/helpers.scss';

.home {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120.02deg, #76ffac 1.77%, #a6eb67 96.71%), #020202;
  // background-color: $s1;
  color: #020202;

  



  
  margin-left: -40px;
}


