@import '../../styles/helpers';

@mixin time {
  font-size: 14px;
  font-weight: 500;
  color: $n6;
}

.bottomBar {
  background-color: white;
  position: fixed;
  height: 120px;
  bottom: 0;
  right: 0;
  left: 280px;
  z-index: 50;
  padding: 24px 64px;
  border-top: 2px solid #d9fee1;
  // border: 2px solid red;

  display: flex;
  align-items: center;

  > * {
    height: 100%;
  }

  .highlitedMusic {
    // border: 2px solid blue;
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 1;

    .titles {
      flex: 1;

      h6 {
        font-size: 16px;
        color: $n8;
        font-weight: 500;
        margin-bottom: 6px;
        text-transform: uppercase;
      }

      p {
        font-size: 14px;
        color: $n4;

        word-wrap: break-word;

        width: 85%;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .middle {
    // border: 2px solid red;
    display: flex;
    align-items: center;
    gap: 36px;
    flex: 2;

    .player {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;

      .pause {
        width: 60px;
        height: 60px;
        background-color: $p1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          background-color: $n5;
        }
      }
    }

    .playerHistogram {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      padding-right: 48px;

      .start {
        @include time();
      }

      .end {
        @include time();
        color: $n3;
      }
    }
  }

  .volumeContainer {
    // border: 2px solid green;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .volume {
      display: flex;
      align-items: center;
      gap: 12px;
      cursor: pointer;

      &:hover {
        .sliderVolume {
          .active {
            background-color: $p1;

            .thumb {
              opacity: 1;
            }
          }
        }
      }
    }

    .sliderVolume {
      position: relative;
      width: 120px;
      height: 4px;
      border-radius: 10px;
      background-color: $n2;

      .active {
        height: 100%;
        width: 50%;
        background-color: $n4;
        position: relative;
        border-radius: 10px;

        .thumb {
          // transition: all 0.3s ease-out;
          position: absolute;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background-color: $n;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.26);
          opacity: 0;
        }
      }
    }
  }
}
