@import '../../styles/helpers';

.bottomBar {
  background-color: white;
  position: fixed;
  height: 120px;
  bottom: 0;
  right: 0;
  left: 280px;
  z-index: 50;
  padding: 24px 48px;
  border-top: 2px solid #d9fee1;
  // border: 2px solid red;

  display: flex;
  align-items: center;

  > * {
    height: 100%;
  }

  .highlitedMusic {
    border: 2px solid pink;
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 1;

    .titles {
      flex: 1;

      h6 {
        font-size: 16px;
        color: $n8;
        font-weight: 500;
        margin-bottom: 6px;
        text-transform: uppercase;
      }

      p {
        font-size: 14px;
        color: $n4;

        word-wrap: break-word;

        width: 85%;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .player {
    border: 2px solid red;
    flex: 1;
  }
  .playerHistogram {
    border: 2px solid blue;
    flex: 1;
  }
  .volume {
    border: 2px solid green;
    flex: 1;
  }
}
