@import '../../styles/helpers';

.layout {
  padding: 0 0 120px 280px;
  // border: 2px solid blue;

  .inner {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 120px);
    height: 100%;
    // border: 2px solid purple;
  }
}
