@import '../../styles/helpers';

.layout {
  padding: 0 0 120px 280px;

  .inner {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 120px);
    height: 100%;
    padding: 24px 24px 40px;
    // border: 2px solid $p1;

    .container {
      // border: 2px solid $p2;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: 100%;
    }
  }
}
