@import '../../styles/helpers';

.topPodcasts {
  // border: 2px solid red;
  overflow: auto;

  .header {
    margin-bottom: 24px;
    height: 50px;
    display: flex;
    align-items: center;

    h2 {
      margin-bottom: 0;
    }
  }

  .body {
    .podcastsList {
      // border: 2px solid red;
      display: flex;
      flex-direction: column;
      gap: 12px;
      flex-wrap: wrap;
      overflow: auto;
      height: 550px;

      scrollbar-width: none; // for Firefox

      // for Chrome & Safari
      &::-webkit-scrollbar {
        display: none;
      }

      .podcast {
        flex-shrink: 0;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease-out;
        border-radius: 30px;
        // background-color: $n2;
        width: 180px;
        height: 250px;

        &:active {
          transform: scale(0.9);
        }

        &:hover {
          background-color: $n2;

          .imageContainer {
            .iconPlay {
              opacity: 1;
            }
          }
        }

        .imageContainer {
          width: 150px;
          height: 150px;
          background-color: $p1;
          border-radius: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          margin-bottom: 14px;

          .image {
            width: 100px;
            height: 100px;
            background-color: #fff;
            border-radius: 20px;
          }

          .iconPlay {
            width: 50px;
            height: 50px;
            position: absolute;
            background-color: $p1;
            // border: 2px solid $p1;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: all 0.3s ease-out;
          }
        }

        .name {
          display: inline-block;
          font-size: 20px;
          font-weight: 500;
          color: $n8;
          width: 85%;
          text-align: center;
          line-height: 26px;
        }
      }
    }
  }
}
