@import '../../styles/helpers';

@mixin itemStyle {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: $n4;
  background-color: transparent;
  height: 48px;
  border-radius: 8px;
  transition: all 0.3s ease-out;

  .icon {
    svg {
      transition: all 0.3s ease-out;
      fill: $n4;
    }
  }

  &:hover {
    color: $n;

    .icon {
      svg {
        fill: $n;
      }
    }

    .arrowBtn {
      svg {
        fill: $n;
      }
    }
  }
}

.sidebar {
  max-width: 280px;
  width: 100%;
  height: 100%;
  background-color: $n8;
  color: white;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  z-index: 10;
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  .logo {
    cursor: pointer;
    margin-bottom: 48px;
  }

  .nav {
    display: flex;
    flex-direction: column;
    gap: 48px;

    .titleMenu {
      font-size: 18px;
      color: $n3;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 24px;
    }

    .listItems {
      display: flex;
      flex-direction: column;
      gap: 6px;

      .item,
      .itemBtn {
        @include itemStyle();
      }

      .itemBtn {
        width: 100%;

        .arrowBtn {
          margin-left: auto;

          svg {
            transition: all 0.3s ease-out;
            transform: rotate(0deg);
            fill: $n4;
          }
        }
      }

      .visible {
        .arrowBtn {
          svg {
            transition: all 0.3s ease-out;
            transform: rotate(180deg);
          }
        }
      }

      .itemIsActive {
        @include itemStyle();
        color: $p1;

        .icon {
          svg {
            fill: $p1;
          }
        }
      }
    }

    .dropdown {
      display: flex;
      flex-direction: column;
      gap: 6px;

      .item {
        position: relative;
        padding: 0 0 0 40px;

        .line {
          position: absolute;
          width: 22px;
          height: 18px;
          // background-color: $p1;
          left: 8px;
          top: 8px;
          border-bottom-left-radius: 10px;
          border-bottom: 2px solid $n6;
          border-left: 2px solid $n6;
        }
      }
    }
  }
}
