@import '../../styles/helpers';

.topCategories {
  margin-bottom: 48px;

  .body {
    border-radius: 24px;

    .categories {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      overflow: hidden;
      height: 300px;

      .category {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease-out;
        // border: 2px solid red;

        &:active {
          transform: scale(0.9);
        }

        .imageContainer {
          width: 100px;
          height: 100px;
          background-color: $p1;
          border-radius: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 14px;

          .image {
            width: 65px;
            height: 65px;
            background-color: #fff;
            border-radius: 10px;
          }
        }

        .name {
          font-size: 18px;
          font-weight: 500;
          color: $n8;
        }
      }
    }
  }
}
