@import '../../styles/helpers';

.topCategories {
  margin-bottom: 48px;

  .header {
    margin-bottom: 24px;
    height: 50px;
    display: flex;
    align-items: center;

    h2 {
      margin-bottom: 0;
    }
  }

  .body {
    .categories {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      overflow: hidden;
      height: 300px;

      .category {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease-out;
        // border: 2px solid red;

        &:active {
          transform: scale(0.9);
        }

        &:hover {
          .imageContainer {
            .iconPlay {
              opacity: 1;
            }
          }
        }

        .imageContainer {
          width: 100px;
          height: 100px;
          background-color: $p1;
          border-radius: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 14px;
          position: relative;

          .image {
            width: 65px;
            height: 65px;
            background-color: #fff;
            border-radius: 10px;
          }

          .iconPlay {
            width: 50px;
            height: 50px;
            position: absolute;
            background-color: $p1;
            // border: 2px solid $p1;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: all 0.3s ease-out;
          }
        }

        .name {
          font-size: 18px;
          font-weight: 500;
          color: $n8;
        }
      }
    }
  }
}
